{% extends 'base.html.twig' %}

{% block body %}
<h1>Binevenue les amis</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam facere minus a error veritatis repellendus, alias velit quidem beatae odio vel, obcaecati deserunt sunt quia amet, optio labore! Illum dolores accusamus voluptatibus consequuntur, nemo unde laborum. Porro saepe placeat quis.</p>
<p>Dolores aperiam explicabo nesciunt facilis hic praesentium et magni enim magnam asperiores quas mollitia voluptatibus iure, nihil eaque unde est, placeat impedit dolorum voluptas. Suscipit dolorem dolor quo nobis, a, hic architecto rem natus officiis accusamus dolorum distinctio ea excepturi!</p>
{% endblock %}
